Source: workout
Section: perl
Priority: optional
Build-Depends: debhelper (>= 5.0.0)
Build-Depends-Indep: perl (>= 5.8.8-7etch1)
Maintainer: Rainer Clasen <bj@zuto.de>
Standards-Version: 3.7.2

Package: workout
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libgeo-distance-perl,
 libgeo-gpx-perl, libclass-accessor-perl, libmodule-pluggable-perl,
 libdatetime-perl, mychart 
Description:  Workout file library
 This library and acompanying helper provide a common API to access
 recordings of sport exercise recordings (workouts). It's modular and easy
 to extend to new file formats. For now SRM, GPX and Polar HRM files are
